{{define "comment"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/comment.css" />
    <title>Document</title>
</head>
<div id="comment-case">
    <div id="information-top-comment">
        <div id="username-comment">@Pablo</div>
    </div>
    <div id="decoration-line-comment"></div>
    <div id="comment-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
         fuga non officia laboriosam dolore quam quasi iure, blanditiis perferendis nesciunt!
    </div>
    <div id="reaction-case-comment">
        <div id="left-side-reaction-comment">
            <div class="reaction-section-comment">
                <img src="../static/images/grey-toxic-logo-button.png" alt="" class="toxic-logo">
                <div id="toxic-nbr-comment">11</div>
            </div>
            <div class="reaction-section-comment">
                <img src="../static/images/greythumb-up-logo.png" alt="" class="red-thumb">
                <div id="red-thumb-nbr-comment">11</div>
            </div>
            <div class="reaction-section-comment">
                <img src="../static/images/comment-logo.png" alt="" class="comment-logo">
                <div id="comment-nbr-comment">11</div>
            </div>
        </div>
       
        <img src="../static/images/share-logo.png" alt="">
    </div>
</div>  
</html>
{{end}}