{{define "likedPost"}}
<div class="liked-post-case">
    <div class="top-side-post"> 
        <div class="post-title">LOL Ca pue du cul</div>
        <div class="post-category">League of Legend</div>
    </div>
    <div class="post">Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Sequi amet non labore molestiae animi error
        ..
        </div>
        <div class="bottom-side-post"> 
            <div class="post-link"><a href="/Post">more</a></div>
        </div>
</div>
{{end}}